*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  box-sizing: border-box;

}
body{
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("../images/bg3.png");
  background-repeat: no-repeat;
  background-size: 100% 830px;
/*  background-image: url(http://subtlepatterns.com/patterns/sativa.png);*/

}
.container{
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(255, 152, 0,0.6);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 150px;
}
.container img{
  width:120px;
  height: 120px;
  margin-top: -55px;
  margin-bottom: 33px;
}

input[type="text"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 35px;
  background-image: url("../images/2.png");
  background-position: 7px 7px;
  background-repeat: no-repeat;
}
input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 35px;
  background-image: url("../images/house-key.png");
  background-position: 7px 7px;
  background-repeat: no-repeat;
}
.form-input::before{
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  position: absolute;
  padding-left: 5px;
  padding-top: 7px;
  font-size: 35px;
}
.form-input:last-child::before{
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 35px;
}
.btn-login{
  padding: 15px 30px;
  cursor:pointer;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #00ACC1;
  border-bottom: 4px solid #0099BA
  margin-bottom:20px;
}
a{
  color: #fff;
}

input[type="submit"]:hover{
  opacity: 1;
}
input[type="submit"]:active{
  transform: scale(0.97);
}

/*
@media (max-width:768px){
  input{
    width: 75%;
  }
}

@media (max-width:480px){
  input{
    width: 95%;
  }
}
