
.intro{
  text-align: justify;

}
.intro2{
  text-align: left;
}
img.logo{
  border:0px;
  margin: 0;
  margin-top: -3px;
}
img.limpio{
  border:0px;
  float:left;
  clear:left;
}

img{
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
  }
img:hover{
  margin-top:2px;
}
.imgc{
  height:300px;
  width:500px;
}
.der{
  height:300px;
  width:500px;
  float: right;
}
.fac{
  height:300px;
  width:500px;

}
.centro{
  height:300px;
  width:500px;
  float:left;
  margin-left: 30%;
margin-right: 37%;
}

.izq{
  height:300px;
  width:500px;
  float:left:
}
