
.intro{
  text-align: justify;

}
.intro2{
  text-align: left;
}
img.logo{
  border:0px;
  margin: 0;
  margin-top: -3px;
}
img.limpio{
  border:0px;
  float:left;
  clear:left;
}
img.sin{

}
img{
border: 3px solid #B2EBF2;
    float: left;
    margin: 15px;
    /*-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;*/
  }
img:hover{
  margin-top:2px;
}
.imgc{
  height:300px;
  width:500px;
}
.der{
  height:300px;
  width:500px;
  float: right;
}
.fac{
  height:300px;
  width:500px;

}
.centro{
  height:400px;
  width:500px;
  float:left;
  margin-left: 20%;
margin-right: 30%;
}
.k{
  height:430px;
  width:570px;
  float:left;
  margin-left: 26%;
  margin-right: 30%;
}
.izq{
  height:300px;
  width:500px;
  float:left:
}
